body {
  background-color: #f4f4f4;
}

form {
  margin-left: 4px;
}
fieldset {
  border: 1px solid black;
  padding: 4px;
}

input, label {
  display: inline-block;
}

input[type=number] {
  width: 6rem;
}

#target-print {
  display: inline-grid;
  grid-gap: 0; 
  margin: 4px;  
  width: 29.7cm;
  height: 21.0cm;
  
  background-color: #ffffff;

  overflow: hidden;
  
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  
  align-items: center;
  justify-items: center;
}

#target-add {
  display: block;
}

#target-list {
  display: inline-table;
  vertical-align: top;
  width: 20vw;
}

#controls {
  display: inline-block;
  vertical-align: top;
  width: 15vw;
}

@page {
  margin: 0;
  padding: 0;
}

@media print {
  body {
    display: inline-block;
  } 
  
  #target-wrapper {
    display: inline-block;
  }
  
  #target-wrapper > * {
    display: none;
  }
  
  #target-print {
    display: inline-grid;
    border: 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
  }
}


